<template>
    <div class="content__register">
        <div class="content__body">
            <form action="?" class="form__register"  @submit.stop.prevent="validateBeforeSubmit()">
                <div class="content__company">
                    <header class="header__title">
                        <h4> Dados da empresa </h4> 
                    </header><!-- /.form__body -->

                    <div class="form__step">
                        <div class="form__row">
                            <div class="form__controls">
                                <label class="form__label"> CNPJ: </label> 
                                <input type="text" v-mask="'##.###.###/####-##'" name="corporateDocument" placeholder="CNPJ" class="field" required autocomplete="off" v-model="corporateDocument"/>
                            </div><!-- /.form__controls -->

                            <div class="form__controls">
                                <label class="form__label"> Telefone comercial: </label> 
                                <input type="text" v-mask="'(##) ####-####'" name="businessPhone" placeholder="Telefone comercial" class="field" autocomplete="off" required v-model="company.businessPhone"/>
                            </div><!-- /.form__controls -->
                        </div><!-- /.form__row -->

                        <div class="form__row">
                            <div class="form__controls">
                                <label class="form__label"> Inscrição estadual: </label> 
                                <input type="text" name="stateRegistration" placeholder="Inscrição estadual" class="field disabled" disabled autocomplete="off" v-model="company.stateRegistration"/>
                            </div><!-- /.form__controls -->

                            <div class="form__controls">
                                <label class="form__label"> Razão social: </label> 
                                <input type="text" name="corporateName" placeholder="Razão social" class="field disabled" disabled autocomplete="off" v-model="company.corporateName"/>
                            </div><!-- /.form__controls -->
                        </div><!-- /.form__row -->

                        <div class="form__row">
                            <div class="form__controls">
                                <label class="form__label"> CEP: </label> 
                                <input type="text" name="postalCode" v-mask="'#####-###'" placeholder="CEP" class="field disabled" autocomplete="off" disabled v-model="company.postalCode"/>
                            </div><!-- /.form__controls -->

                            <div class="form__controls">
                                <label class="form__label"> Estado: </label> 
                                <input type="text" name="state" placeholder="Estado" class="field disabled" disabled autocomplete="off" v-model="company.state"/>
                            </div><!-- /.form__controls -->
                        </div><!-- /.form__row -->

                        <div class="form__row">
                            <div class="form__controls">
                                <label class="form__label"> Endereço: </label> 
                                <input type="text" name="logradouro" placeholder="Endereço" class="field disabled" autocomplete="off" disabled v-model="company.logradouro"/>
                            </div><!-- /.form__controls -->

                            <div class="form__controls">
                                <label class="form__label"> Numero: </label> 
                                <input type="text" name="number" placeholder="Numero" class="field disabled" autocomplete="off" disabled v-model="company.number"/>
                            </div><!-- /.form__controls -->
                        </div><!-- /.form__row -->

                        <div class="form__row">
                            <div class="form__controls">
                                <label class="form__label"> Bairro: </label> 
                                <input type="text" name="street" placeholder="Bairro" class="field disabled" autocomplete="off" disabled v-model="company.street"/>
                            </div><!-- /.form__controls -->

                            <div class="form__controls">
                                <label class="form__label"> Cidade: </label> 
                                <input type="text" name="city" placeholder="Cidade" class="field disabled" autocomplete="off" disabled v-model="company.city"/>
                            </div><!-- /.form__controls -->
                        </div><!-- /.form__row -->
                    </div><!-- /.form__step -->
                </div><!-- /.content__company -->

                <div class="content__client">
                    <header class="header__title">
                        <h4> Dados pessoais </h4> 
                    </header><!-- /.form__body -->

                    <div class="form__step">
                        <div class="form__row">
                            <div class="form__controls">
                                <label class="form__label"> E-mail: </label> 
                                <input type="text" name="email" placeholder="E-mail" class="field" autocomplete="off" required v-model="client.email"/>
                            </div><!-- /.form__controls -->

                            <div class="form__controls">
                                <label class="form__label"> Telefone Celular: </label> 
                                <input type="text" v-mask="'(##) #-####-####'" name="phone" placeholder="Telefone Celular" class="field" autocomplete="off" required v-model="client.phone"/>
                            </div><!-- /.form__controls -->
                        </div><!-- /.form__row -->

                        <div class="form__row">
                            <div class="form__controls">
                                <label class="form__label"> Nome do responsavel: </label> 
                                <input type="text" name="firstName" placeholder="Nome do responsavel" class="field" autocomplete="off" required v-model="client.firstName"/>
                            </div><!-- /.form__controls -->

                            <div class="form__controls">
                                <label class="form__label"> Sobrenome do responsavel: </label> 
                                <input type="text" name="lastName" placeholder="Sobrenome do responsavel" class="field" autocomplete="off" required v-model="client.lastName"/>
                            </div><!-- /.form__controls -->
                        </div><!-- /.form__row -->

                        <div class="form__row form__alerts">
                            <div class="form__controls">
                                <input type="checkbox" name="accepted" id="accepted" class="field" v-model="client.accepted"/>
                                
                                <label class="form__label" for="accepted"> 
                                    Eu aceito os Termos de Privacidade, Política de Compra, Política de Entrega, e afirmo que as informações aqui passadas são verdadeiras e válidas. 
                                </label><!-- /.form__label -->
                            </div><!-- /.form__controls -->
                        </div><!-- /.form__row -->

                        <div class="form__row">
                            <div class="form__controls">
                                 <h6> Obs: Os dados de endereço não poderam ser alterados, em caso de duvidas entre em contato conosco. </h6>
                            </div><!-- /.form__controls -->
                        </div><!-- /.form__row -->

                        <div class="form__actions">
                            <button class="btn btn__black">
                                Finalizar cadastro
                            </button><!-- /.btn__black -->
                        </div><!-- /.form__actions -->
                    </div><!-- /.form__step -->
                </div><!-- /.content__client -->

                <div class="content__loader" v-if="loader">
                    <div class="loader">
                        <span> Loading... </span>
                    </div><!-- /.loader -->
                </div><!-- /.content__loader -->
            </form><!-- /.form__company -->
        </div><!-- /.content__body -->
    </div><!-- /.content__register -->
</template>

<script>
    import Swal from 'sweetalert2';
    import vtex from '../../services/vtex.js';
    import cnpja from '../../services/cnpja.js';

    export default {
        data () {
            return {
                "loader": false,
                "corporateDocument": null, 
                "company": {
                    "businessPhone": null,
                    "stateRegistration": null,
                    "corporateName": null,
                    "postalCode": null,
                    "state": null,
                    "number": null,
                    "street": null,
                    "logradouro": null,
                    "city": null,
                },
                "client": {
                    "email": null,
                    "firstName": null,
                    "lastName": null,
                    "phone": null,
                    "accepted": false,
                }
            }
        },
        methods: {
            async validateBeforeSubmit() {
                if (!this.corporateDocument) {
                    return Swal.fire({
                        title: 'Oops!',
                        text: 'O campo CNPJ é obrigatorio.',
                    });
                }

                if (this.corporateDocument.length < 18) {
                    return Swal.fire({
                        title: 'Oops!',
                        text: 'CNPJ informado é inválido.',
                    });
                }

                if (!this.company.businessPhone) {
                    return Swal.fire({
                        title: 'Oops!',
                        text: 'O campo telefone é obrigatorio.',
                    });
                }

                if (this.isEmail(this.client.email)) {
                    return Swal.fire({
                        title: 'Oops!',
                        text: 'O campo "E-mail" esta incorreto.',
                    });
                }

                if (!this.client.accepted) {
                    return Swal.fire({
                        title: 'Oops!',
                        text: 'O campo "Termo de aceite" é obrigatorio.',
                    });
                }

                this.handleCustomerIsRegistered();
            },
            async handleCustomerIsRegistered() {
                try {
                    const { data } = await vtex.get(`/api/checkout/pub/profiles/?email=${this.client.email}`);
                    
                    if (data.userProfileId != null) {
                        return Swal.fire({
                            title: 'Ops!',
                            icon: 'error',
                            text: "Seu e-mail já se encontra na nossa base de dados aguardando aprovação.",
                        });
                    }
                
                    this.registerCustomer();
                } catch (error) {
                    return Swal.fire({
                        title: 'Ops!',
                        icon: 'error',
                        text: "Ocorreu um erro ao salvar os dados tente novamente mais tarde.",
                    });
                }
            },
            async feachStoreInSintegra() {
                if (this.corporateDocument.length < 18) return;
                
                this.constrollerLoader();

                try {
                    const { data } = await cnpja.get(`/companies/${this.rewrite(this.corporateDocument)}?sintegra_max_age=1`);

                    this.handleCommitCompany(data);
                    this.constrollerLoader();
                    
                } catch (error) {
                    this.constrollerLoader();

                    Swal.fire({
                        title: 'Oops!',
                        icon: 'error',
                        text: 'Ocorreu um erro ao buscar os dados no sintegra.',
                    });
                }
            },
            async registerCustomer() {
                try {
                    const { data } = await vtex.post('/api/dataentities/CL/documents', {
                        "approved": false,
                        "firstName": this.client.firstName,
                        "lastName": this.client.lastName,
                        "email": this.client.email,
                        "homePhone": `+55${this.rewrite(this.client.phone)}`,
                        "businessPhone": `+55${this.rewrite(this.company.businessPhone)}`,
                        "corporateDocument": this.corporateDocument,
                        "isCorporate": true,
                        "corporateName": this.company.corporateName,
                        "tradeName": this.company.corporateName,
                        "stateRegistration": this.company.stateRegistration,
                        "idSuframa": this.company.idSuframa,
                        "accepted": this.client.accepted,
                    });
                       
                    this.registerAddress(data.DocumentId)
                } catch (error) {
                    Swal.fire({
                        title: 'Oops!',
                        icon: 'error',
                        text: 'Ocorreu ao salvar seus dados (CL).',
                    });
                }
            },
            async registerAddress(documentId) {
                if (!documentId) return;

                try {
                    const { data } = await vtex.post('/api/dataentities/AD/documents', {
                        "id": "",
                        "userId": documentId,
                        "addressName": documentId,
                        "addressType": "commercial",
                        "country": "BRA",
                        "state": this.company.state,
                        "city": this.company.city,  
                        "neighborhood": this.company.street,
                        "postalCode": this.company.postalCode,
                        "street": this.company.logradouro,
                        "number": this.company.number,
                        "complement": "",
                        "reference": "",
                        "receiverName":this.client.firstName,
                    });

                    window.location.href = "/institucional/obrigado-cadastro";

                } catch (error) {
                    Swal.fire({
                        title: 'Oops!',
                        icon: 'error',
                        text: 'Ocorreu ao salvar seus dados (AD).',
                    });
                }
            },
            handleCommitCompany(company) {
                if (!company) return;

                this.company.corporateName = company.name;
                this.company.stateRegistration = company.sintegra.home_state_registration;
                this.company.postalCode = company.address.zip;
                this.company.state = company.address.state;    
                this.company.number = company.address.number;
                this.company.street = company.address.neighborhood;
                this.company.logradouro = company.address.street;
                this.company.city = company.address.city;
            },
            constrollerLoader() {
                this.loader = !this.loader;
            },
            rewrite(str) {
                if (!str) return;
                
                return str.trim()
                    .replace(/(\s|_)+/, "")
                    .replace(/(^-+|-+$)/, "")
                    .replace(/[^a-z0-9]+/g, '');
            },
            isEmail(email) {
                return !/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i.test(email);
            }
        },
        watch: {
            corporateDocument(){
                  this.feachStoreInSintegra()
             } 
        }
    }
</script>

<style lang="scss">
    .content__register {
        width: 900px !important;
        margin: 0 auto;

        /* Mobile */
        @media (max-width:767px) {
            width: 100% !important;
        }

        .form__register {
            margin-top: 40px;
            margin: 0 auto 100px;
            position: relative;

            /* Mobile */
            @media (max-width:767px) {
                margin: 0 auto 80px;
            }

            .header__title {
                margin: 40px 0 35px;

                h4 {
                    color: #000;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 4.2px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            .content__client{
                .form__step{
                    .form__row{
                            &:nth-child(4) {
                            display: flex;
                            align-items: center;
                            .form__controls{
                                width: 66%;
                            }
                            h6 {
                                background-color: #F5F5F5;
                                padding: 20px;
                                border-radius: 3px;
                                font-size: 12px;
                                font-weight: 500;
                                color: #262626;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            .form__step {
                position: relative;
        
                .form__row {
                    width: 100%;
                    display: flex;
                    margin-bottom: 25px;
                    justify-content: space-between;

                    /* Mobile */
                    @media (max-width:767px) {
                        flex-wrap: wrap;
                        margin-bottom: 0;
                    }

                    &.form__alerts {
                        margin: 25px 0;

                        .form__controls {
                            display: block;
                            align-items: center;
                            width: 100%;    

                            .form__label {
                                position: relative;
                                padding-left: 30px;
                                line-height: 1.5em;
                                font-weight: 400;

                                &:before {
                                    content: '';
                                    position: absolute;
                                    left: 1px;
                                    top: -2px;
                                    width: 20px;
                                    height: 20px;
                                    background-color: transparent;
                                    border: 2px solid #808080;
                                }

                                &:after {
                                    content: '';
                                    position: absolute;
                                    height: 10px;
                                    width: 5px;
                                    top: 1px;
                                    left: 9px;
                                    border: 2px solid #808080;
                                    border-left: 0;
                                    border-top: 0;
                                    transform: rotate(40deg);
                                    opacity: 0;
                                    transition: opacity .3s;
                                }

                                a {
                                    color: #22566e;
                                    font-size: 12px;
                                    font-weight: bold;

                                    &:hover {
                                       text-decoration: underline;
                                    }
                                }
                            }

                            .field {
                                display: none;

                                &:checked {
                                    + label:after {
                                        opacity: 1;
                                    }
                                } 
                            }
                        }
                    }

                    .form__controls {
                        width: 48%;

                        /* Mobile */
                        @media (max-width:767px) {
                            width: 100%;
                            margin-bottom: 20px;
                        }

                        .form__label {
                            display: block;
                            font-size: 12px;
                            font-weight: 400;
                            color: #262626;
                            margin-bottom: 5px;
                            letter-spacing: 0.6px;
                        }

                        .field {
                            width: 100%;
                            border: 1px solid #E0E0E0;
                            font-weight: 400;
                            font-size: 14px;
                            padding: 15px;
                            color: #262626;
                            letter-spacing: 0.65px;

                            &.disabled {
                                background: #dddddd;
                                cursor: no-drop;
                            }
                        }

                        &.form__checkbox {
                            width: 50%; 
                            height: 70px;
                            
                            .form__label {
                                position: relative;
                                padding-left: 30px;
                                line-height: 1.5em;
                                font-weight: 400;

                                &:before {
                                    content: '';
                                    position: absolute;
                                    left: 1px;
                                    top: -1px;
                                    width: 20px;
                                    height: 20px;
                                    background-color: transparent;
                                    border: 2px solid #808080;
                                }

                                &:after {
                                    content: '';
                                    position: absolute;
                                    height: 10px;
                                    width: 5px;
                                    top: 4px;
                                    left: 9px;
                                    border: 2px solid #808080;
                                    border-left: 0;
                                    border-top: 0;
                                    transform: rotate(40deg);
                                    opacity: 0;
                                    transition: opacity .3s;
                                }

                                a {
                                    color: #22566e;
                                    font-size: 12px;
                                    font-weight: bold;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }

                            .field {
                                display: none;

                                &:checked {
                                    + label:after {
                                        opacity: 1;
                                    }
                                } 
                            }
                        }
                    }

                }

                .form__actions {
                    display: flex;
                    border-top: 1px solid #E0E0E0;
                    margin-top: 40px;
                    padding-top: 30px;
                    justify-content: space-around;

                    /* Mobile */
                    @media (max-width:767px) {
                        flex-wrap: wrap;
                    }

                    /* Mobile */
                    @media (max-width:767px) {
                        border: none;
                        padding-top: 0;
                        margin-top: 20px;
                    }

                    .btn {
                        width: 45%;

                        /* Mobile */
                        @media (max-width:767px) {
                           width: 100%;
                        }

                        &.btn__white {
                            &:hover {
                                background: #ccc;
                                border: 1px solid #ccc;
                                color: #666;
                            }

                            /* Mobile */
                            @media (max-width:767px) {
                                order: 1;
                                margin-top: 25px;
                            }
                        }
                    }
                }
               
            }

            .content__loader {
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.60);
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .loader {
                    height: 100px;
                    width: 100px;
                    display: flex;
                    position: relative;
                    justify-content: center;
                    perspective-origin: 60px 60px;
                    transform-origin: 60px 60px;
                    flex-flow: column nowrap;
        
                    &:after {
                        content: '';
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        border-style: solid;
                        border-width: 2px;
                        box-sizing: border-box;
                        left: 0;
                        position: absolute;
                        top: 0;
                        animation: rotate 1s infinite ease;
                        border-color: #3897f0 transparent transparent;
                        transform-origin: 50%;
                    }

                    &:before {
                        content: '';
                        height: 100px;
                        width: 100px;
                        border-radius: 50%;
                        border-style: solid;
                        border-width: 2px;
                        box-sizing: border-box;
                        left: 0;
                        position: absolute;
                        top: 0;
                        border-color: #c7c7c7;
                    }

                    span {
                        display: block;
                        font-size: 12px;
                        font-weight: 600;
                        margin: -60px 0;
                        padding: 60px 9px;
                        position: relative;
                        text-align: center;
                        vertical-align: middle;
                        z-index: 1;
                        color: rgb(199, 199, 199);
                        text-decoration: none;
                    }
                }
            }
        }
    }
</style>