<template>
    <div class="category__component">
        <div class="cols">            
            <div class="col" v-for="(product, index) in products" :key="index">
                <ShelfItem :product="product"/> 
            </div><!-- /.col -->
        </div><!-- /.cols -->

        <Pagination/>       
    </div><!-- /.category__component -->
</template>

<script>
    import { mapGetters } from 'vuex';

    import ShelfItem from '../../components/ShelfItem.vue';
    import Pagination from '../category/Pagination.vue';

    export default {
        components: {
            ShelfItem,
            Pagination,
        },
        computed: {
            ...mapGetters({
                products: 'GET_PRODUCTS_CATEGORY',
            })
        },
        created() {
            this.$store.dispatch('FETCH_PRODUCTS_CATEGORY', {
                "from": 0,
                "to": 11
            });
        }
    }
</script>

<style lang="scss">
    .category__component {
        .col {
            width: 305px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 30px;

            &:nth-child(4n+1) {
                margin-left: 0;
            }

            &:nth-child(4n+4) {
                margin-right: 0;
            }
        
            /* Mobile */
            @media (max-width:767px) {
                width: 50%;
                margin: 0 0px 20px;
            }
        }
    }
</style>