<template>
    <div class="widget__orderby">
        <div class="widget__head">
            <h3 class="widget__title">
                Ordenar Por
            </h3><!-- /.widget__title -->
        </div><!-- /.widget__head -->

        <select class="widget__body" v-model="selectedOrderBy" @change.stop.prevent="changeOrderBy()">
            <option value="OrderByTopSaleDESC">Mais vendidos</option>
            <option value="OrderByPriceASC">Menor Preço</option>
            <option value="OrderByPriceDESC">Maior Preço</option>
            <option value="OrderByReviewRateDESC">Melhores avaliações</option>
            <option value="OrderByNameASC">A - Z</option>
            <option value="OrderByNameDESC">Z - A</option>
            <option value="OrderByReleaseDateDESC">Data de lançamento</option>
            <option value="OrderByBestDiscountDESC">Melhor Desconto</option>
        </select>
    </div><!-- /.widget__filters -->
</template>

<script>
    import vtex from '../../services/api';
    import { mapGetters } from 'vuex';
    
    export default {
        data () {
            return {
                "selectedOrderBy": 'OrderByTopSaleDESC'
            }
        },
        created() {
            this.$store.commit('SET_ORDER_BY', this.selectedOrderBy);
        },
        methods: {
            changeOrderBy() {
                this.$store.commit('SET_ORDER_BY', this.selectedOrderBy);

                this.$store.dispatch('FETCH_PRODUCTS_CATEGORY', {
                    'from': 0,
                    'to': 11,
                    'reset': true
                });
            },
        },
    }
</script>

<style lang="scss">
    .widget__orderby {
        position: relative;
        border: 1px solid #e0e0e0;
        display: flex;
        align-items: center;
        border-radius: 3px;
        min-width: 150px;
        padding: 10px;
        
        .widget__head {
            width: 100%;
            padding: 0 10px;

            .widget__title {
                position: relative;
                font-size: 12px;
                color: #4c4c4c;
                text-transform: uppercase;
                position: relative;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    transform: rotate(47deg);
                    width: 8px;
                    right: 6px;
                    top: 8px;
                    background: #000;
                }
    
                &::before {
                    content: '';
                    position: absolute;
                    height: 2px;
                    transform: rotate(-47deg);
                    width: 9px;
                    right: 0px;
                    top: 8px;
                    background: #000;
                    border-radius: 5px;
                    border-radius: 5px;
                }
            }
        }

        .widget__body {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 4;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
</style>