<template>
    <div class="category__pages">        
        <button class="btn btn__black btn__pages" @click="pagination()" v-if="searchEmpty">
            ver mais produtos
        </button><!-- /.btn__pagination -->

        <div class="search__rempty" v-if="!searchEmpty">
            <p> Não encontramos mais produtos. </p>
        </div><!-- /.search__rempty -->
    </div><!-- /.category__pages -->
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {  
        computed: {
            ...mapGetters({
                searchEmpty: 'GET_SEARCH_EMPTY',
            })
        },  
        data () {
            return {
                "to": 12,
                "from": 0,
            }
        },
        methods:{
            pagination() {
                this.from = (this.to + 1);
                this.to = (this.to + 8);
                
                this.$store.dispatch('FETCH_PRODUCTS_CATEGORY', {
                    'from': this.from,
                    'to': this.to,
                });
            },
        }
    }
</script>

<style lang="scss">
    .category__pages {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;

        .btn__pages {
            width: 350px;
            padding: 20px 40px;
            letter-spacing: .5em;
        }

        .search__rempty {
            background: #FFEDE1;
            width: 100%;
            padding: 15px 0;
            border-radius: 3px;
            display: none;

            p {
                text-align: center;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: .15em;
            }
        }
    }
</style>