<template>
    <div class="description__component">
        <div class="tabs" :class="{ 'active': showItem }">
            <div class="tabs__header" @click="showItem = !showItem">
                <h4> Descrição </h4>
            </div><!-- /.tabs__header -->

            <div class="tabs__body">
                <p> {{ description }} </p>
            </div><!-- /.tabs__body -->
        </div><!-- /.tabs -->
    </div><!-- /.description__component -->
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        data () {
            return {
                'showItem': true,
            }
        },
        computed: {
            ...mapGetters({
                description: 'GET_DESCRIPTION',
            })
        }
    }
</script>