<template>
    <div class="gallery__component">
        <div class="images__thumbs">
            <ul :class="{'owl-carousel': isMobile }" v-if="thumbs.length" v-carousel>
                <li v-for="photo in thumbs" :key="photo.id">
                    <a href="#" @click.stop.prevent="changeMainImage(photo)">
                        <img :src="photo.url" :alt="photo.name" width="120" height="150"/>
                    </a>
                </li>
            </ul>
        </div><!-- /.images__thumbs -->
            
        <div class="image__main" v-if="!isMobile">
            <a href="#">
                <img :src="main.url" :alt="main.name"/>
            </a>
        </div><!-- /.image__main -->
    </div><!-- /.gallery__component -->
</template>

<script>
    export default {
        directives: {
            carousel: {
                inserted:(element) => {
                    if (screen.width > 767) return;

                    $(element).owlCarousel({
                        loop: false,
                        nav: false,
                        dots: true,
                        autoplay: false,
                        responsive: {
                           0:{
                                items: 1,
                            },
                        }
                    }).trigger('to.owl.carousel', 0);
                },
            }
        },
        data () {
            return {
                "isMobile": (screen.width <= 767),
                "main": {},
                "thumbs": {}
            }
        },
        async mounted() {
            await this.$store.dispatch('GET_PRODUCT');

            this.main = this.getImages(this.$store.getters.SKUS)[0];
            this.thumbs = this.getImages(this.$store.getters.SKUS);
        },
        methods: {
            changeMainImage(image) {
                if(!image) return;

                this.main = {
                    'url': image.url,
                    'name': image.name,
                };
            },
            getImages(skus) {
                if (!skus) return;
            
                const images = skus.reduce((value, item) => {
                    item.images.filter((image) => {
                        if (image.imageLabel !=  "thumb") {
                            value.push({
                                'id': image.imageId,
                                'name': item.nameComplete,
                                'url': this.buildImage(image.imageTag, "505", "605")
                            });
                        }
                    });

                    return value;
                },[]);

                return images;
            },
            buildImage(image, width, height) {
                if (!image || !width || !height) return;

                image =  image.toLowerCase().trim()
                    .replace(/~/g, "")
                    .replace(/#width#/g, width)
                    .replace(/#height#/g, height);

                return (/<img.*?src="(.*?)"/).exec(image)[1];
            }
        }
    }
</script>

<style lang="scss">
    .gallery__component {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .images__thumbs {
            width: 130px;

            li {
                width: 150px;
                margin-bottom: 15px;
            }
        }
    }

    /* Mobile */
    @media (max-width:767px) {
        .gallery__component {
            margin-bottom: 0;
            
            .images__thumbs {
                width: 100%;

                li {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .owl-dots {
                    text-align: center;
                    position: absolute;
                    bottom: 30px;
                    background: rgba(38, 38, 38, 0.8);
                    padding: 10px;
                    border-radius: 25px;
                    width: auto;
                    min-width: 170px;
                    left: 50%;
                    transform: translateX(-50%);

                    .owl-dot {
                        width: 10px;
                        height: 10px;
                        background: 12px;
                        border-radius: 50%;
                        display: inline-block;
                        margin: 0 7px;
                        position: relative;
                        background: #f7f7f7;

                        &.active {
                            &::after {
                                content: "";
                                border: 1px solid #f7f7f7;
                                position: absolute;
                                width: 22px;
                                height: 22px;
                                border-radius: 50%;
                                left: -6px;
                                top: -6px;
                            }
                        }
                    }
                }
            }
        }
    }
</style>