<template>
    <div class="measures_component" v-if="tabel">
        <div class="tabs" :class="{ 'active': showModal }">
            <div class="tabs__header" @click="showModal = !showModal">
                <h4> Tabela de medidas </h4>
            </div><!-- /.tabs__header -->
            
            <div class="tabs__body" v-html="isEmpty(tabel)">
            </div><!-- /.tabs__body -->
        </div><!-- /.tabs -->
    </div><!-- /.measures_component -->
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                tabel: 'GET_TABLE_MEASUREMENT',
            })
        },
        data () {
            return {
                'showModal': false,
            }
        },
        methods: {
            isEmpty (value) {
                if (!value) return;
                return (value.length ? value[0] : "");
            }
        }
    }
</script>

<style lang="scss">
    .measures_component {
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 8px;

            tr {
                font-size: 12px;
                color: #262626;
                font-weight: 500;

                &:nth-child(2n+1) {
                    background: #eaeaea;
                }

                td {
                    padding: 6px 15px;
                }
            }
        }

        p {
            font-size: 11px !important;
            margin-top: 15px;

            strong {
                margin-bottom: 5px;
                display: block;
            }
        }
    }
</style>