<template>
    <div class="name__component">
        <h1 class="product__name"> 
            {{ productName }}
        </h1><!-- /.product__name -->

        <h4 class="product__code"> 
            Ref: {{ codeReference }} 
        </h4><!-- /.product__code -->
    </div><!-- /.name__component -->
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                productName: 'GET_NAME',
                codeReference: 'GET_CODE_REFERENCE'
            })
        }
    }
</script>

<style lang="scss">
    .name__component {
        .product__name {
            font-family: 'Saira', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 22px;
            line-height: 1.2em;
        }

        .product__code {
            color: #7f7f7f;
            font-size: 12px;
            font-weight: 500;
        }
    }
</style>