<template>
    <div class="price__component" >
        <div class="content__price" v-if="loggedIn">
            <div class="widget">
                <h4> {{ this.formatMoney((listPrice == bestPrice ? 0 : listPrice), 2, ",", ".", "R$") }} </h4>
                <h3> {{ this.formatMoney(bestPrice, 2, ",", ".", "R$") }} /cada </h3>
            </div><!-- /.widget -->

            <div class="widget">
                <a href="/institucional/formas-de-pagamento" target="_blank">
                    Formas de pagamento.
                </a>
            </div><!-- /.widget -->
        </div><!-- /.content__price -->

        <div class="alert__logged" v-if="!loggedIn">
            <p> 
                <a href="#" @click.stop.prevent="openModalLogin()"> Faça Login </a> ou <a href="/cadastrar"> cadastre-se </a> para ver os preços.
            </p>
        </div><!-- /.alert__logged -->
    </div><!-- /.price__component -->
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                listPrice: 'GET_LIST_PRICE',
                bestPrice: 'GET_BEST_PRICE',
                loggedIn: 'GET_USER_IS_LOGGED',
            })
        },
        methods: {
            openModalLogin() {
                this.$store.commit('SET_SHOW_MODAL_LOGIN', true);
            },
            formatMoney(number, decimals, dec_point, thousands_sep, symbol) {
                if (!number || !decimals || !dec_point || !thousands_sep || !symbol) return;

                number = (number + '').replace(',', '').replace(' ', '');
                
                let n = !isFinite(+number) ? 0 : +number,
                    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                    s = '',
                    toFixedFix = function (n, prec) {
                        let k = Math.pow(10, prec);
                        return '' + Math.round(n * k) / k;
                    };

                s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
                if (s[0].length > 3) {
                    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
                }

                if ((s[1] || '').length < prec) {
                    s[1] = s[1] || '';
                    s[1] += new Array(prec - s[1].length + 1).join('0');
                }

                return symbol + " " + s.join(dec);
            }
        }
    }
</script>

<style lang="scss">
    .price__component {
        .content__price {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            padding: 15px 0;
            margin: 20px 0 15px;
        
            .widget {
                display: flex;
                align-items: center;

                h4 {
                    margin-right: 10px;
                    color: #808080;
                    text-decoration: line-through;
                    font-size: 12px;
                }
                
                h3 {
                    font-size: 14px;
                    color: #000;
                    font-weight: bold;
                }

                &:last-child {
                    justify-content: flex-end;

                    a {
                        font-size: 10px;
                        text-transform: uppercase;
                        font-weight: 500;
                        letter-spacing: 0.15em;
                        position: relative;
                        padding-right: 20px;

                        &:hover {
                            text-decoration: underline;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            transform: rotate(47deg);
                            width: 8px;
                            right: 9px;
                            top: 8px;
                            background: #000;
                        }
            
                        &::before {
                            content: '';
                            position: absolute;
                            height: 2px;
                            transform: rotate(-47deg);
                            width: 9px;
                            right: 3px;
                            top: 8px;
                            background: #000;
                            border-radius: 5px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }

        .alert__logged {
            background: #f7f7f7;
            padding: 15px 0;
            margin-top: 15px;

            p {
                color: #4c4c4c;
                font-size: 14px;
                text-align: center;

                a {
                    text-decoration: underline;
                    font-weight: 500;
                    margin: 0 5px;
                    color: #000;
                }
            }
        }
    }
</style>