<template>
    <div class="shipping__component" v-if="loggedIn">
        <div class="shipping__header">
            <a href="#" @click.stop.prevent="showModal = true">
                <i class="ico-shipping"></i> Calcular Frete
            </a>

            <a href="/institucional/compras-atacado">
                <i class="ico-infos"></i> Como Comprar
            </a>
        </div><!-- /.shipping__header -->

        <form class="form__shipping" :class="{ 'active': showModal }">
            <header class="zipcode__title">
                <p> Simule o frete e o prazo de entrega </p>

                <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank" class="zipcode"> 
                    Não sabe seu CEP? 
                </a><!-- /.zipcode -->
            </header><!-- /.zipcode__title -->
            
            <div class="form__row">
                <div class="form__controls">
                    <input type="text" name="zipcode" placeholder="Insira seu CEP" class="field" v-model="zipcode"/>
                </div><!-- /.form__controls -->

                <div class="form__controls">
                    <button class="btn btn__black btn__zipcode" @click.stop.prevent="simulateShipping()">
                        Calcular
                    </button><!-- /.btn__zipcode -->
                </div><!-- /.form__controls -->
            </div><!-- /.form__row -->

            <div class="zipcode__result" v-if="shippings.length">
                <table>
                    <tr v-for="(item, index) in shippings" :key="index">
                        <td> {{ item.name }} </td> 
                        <td> {{ item.price }} </td> 
                        <td> ATÉ {{ item.days }} DIAS ÚTEIS </td>
                    </tr>
                </table>
            </div><!-- /.zipcode__result -->
        </form><!-- /.form__shipping -->
    </div><!-- /.shipping__component -->
</template>

<script>
    import { mapGetters } from 'vuex';
    import Swal from 'sweetalert2';

    export default {
        data () {
            return {
                "showModal": false,
                "zipcode": "",
                "shippings": [],
            }
        },
        computed: {
            ...mapGetters({
                skus: 'GET_SKUS_CURRENT',
                loggedIn: 'GET_USER_IS_LOGGED',
            })
        },
        methods: {
            simulateShipping() {
                if (!this.zipcode) {
                    return Swal.fire({
                        title: 'Oops!',
                        text: 'Informe um CEP correto.',
                    });
                }

                if (!this.skus.length) {
                    return Swal.fire({
                        title: 'Oops!',
                        text: 'Selecione ao menos um produto para calcular o CEP.',
                    });
                }

                const skus = this.skus.reduce((skus, item) => {
                    item.skus.map((sku) => {
                        skus.push({
                            id: sku.skuId,
                            quantity: sku.quantity,
                            seller: 1
                        })
                    });

                    return skus;
                }, []);

                console.log('result', skus);


                vtexjs.checkout.simulateShipping(skus, this.zipcode, "BRA").done(({ logisticsInfo }) => {
                    this.setShippingsAvailable();
                    
                    this.shippings = logisticsInfo[0].slas.map((item) => {
                        return {
                            'price': this.formatMoney(item.price / 100, 2, ",", ".", "R$"),
                            'name': item.name,
                            'days': item.shippingEstimate.replace("bd","")
                        }
                    });
                });
            },
            
            setShippingsAvailable(shippings) {

            },
            formatMoney(number, decimals, dec_point, thousands_sep, symbol) {
                if (!number || !decimals || !dec_point || !thousands_sep || !symbol) return;

                number = (number + '').replace(',', '').replace(' ', '');
                
                let n = !isFinite(+number) ? 0 : +number,
                    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                    s = '',
                    toFixedFix = function (n, prec) {
                        let k = Math.pow(10, prec);
                        return '' + Math.round(n * k) / k;
                    };

                s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
                if (s[0].length > 3) {
                    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
                }

                if ((s[1] || '').length < prec) {
                    s[1] = s[1] || '';
                    s[1] += new Array(prec - s[1].length + 1).join('0');
                }

                return symbol + " " + s.join(dec);
            },
        }
    }
</script>

<style lang="scss">
    .shipping__component {
        margin-bottom: 30px;

        .shipping__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 15px 0;

            a {
                font-size: 12px;
                font-weight: 500;
                letter-spacing: .10em;
                color: #262626;

                &:hover {
                    text-decoration: underline;
                }
            }

            .ico-shipping {
                background: url(/arquivos/danque-ico-shipping.png) no-repeat center;
                width: 17px;
                height: 13px;
                display: inline-block;
                vertical-align: middle;
                font-size: 0;
                position: relative;
                top: -1px;
            }

            .ico-infos {
                background: url(/arquivos/danque-ico-infos.png) no-repeat center;
                width: 13px;
                height: 13px;
                display: inline-block;
                vertical-align: middle;
                font-size: 0;
                position: relative;
                top: -1px;
            }
        }

        .zipcode__title {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            p {
                color: #262626;
                font-size: 12px;
                font-weight: 500;
            }

            .zipcode {
                font-size: 12px;
                color: #808080;
                font-weight: 500;

                &:hover { 
                    text-decoration: underline;
                }
            }
        }

        .form__shipping {
            background: #f7f7f7;
            padding: 30px;
            display: none;
            border-radius: 3px;

            &.active {
                display: block;
            }

            .form__row {
                display: flex;
                margin: 8px 0;
                justify-content: space-between;

                .form__controls {
                    .field {
                        border: 1px solid #e0e0e0;
                        width: 100%;
                        font-size: 12px;
                        font-weight: 500;
                        color: #262626;
                        padding: 15px 20px;
                        border-radius: 3px;
                        background: transparent;
                        text-transform: uppercase;
                    }

                    .btn__zipcode {
                        width: 100%;
                        padding: 15px 20px;
                    }

                    &:first-child {
                        width: 65%;
                    }

                    &:last-child {
                        width: 30%;
                    }
                }
            }

            .zipcode__result {
                margin-top: 20px;
                background: #eaeaea;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    margin-top: 8px;

                    tr {
                        font-size: 12px;
                        color: #262626;
                        font-weight: 500;
                        border-bottom: 1px solid #e5e5e5;
                        
                        td {
                            padding: 8px 15px;
                            text-transform: uppercase;
                            font-size: 12px;

                            &:nth-child(2) {
                                text-align: center;
                            }

                            &:nth-child(3) {
                                text-align: right;
                            }
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    /* Mobile */
    @media (max-width:767px) {
        .shipping__component {
            .form__shipping {
                padding: 25px 10px;

                .zipcode__title {
                    p {
                        font-size: 10px;
                    }

                    a {
                        font-size: 10px;
                    }
                }

                .form__row {
                    display: block;

                    .form__controls {
                        &:first-child {
                            width: 100%;
                        }

                        &:last-child {
                            width: 100%;

                            .btn__zipcode {
                                width: 100%;
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
</style>