<template>
    <div class="social__component">
        <p> Compartilhar: </p>

        <ul>
            <li>
                <a href="#" @click.stop.prevent="shareProduct('facebook')">
                    <img src="/arquivos/danque-ico-product-facebook.png" alt="Facebook"/>
                </a>
            </li>

            <li>
                <a href="#" @click.stop.prevent="shareProduct('messenger')">
                    <img src="/arquivos/danque-ico-product-messenger.png" alt="Messenger"/>
                </a>
            </li>

            <li>
                <a href="#" @click.stop.prevent="shareProduct('whatsapp')">
                    <img src="/arquivos/danque-ico-product-whatsapp.png" alt="WhatsApp"/>
                </a>
            </li>

            <li>
                <a href="#" @click.stop.prevent="shareProduct('email')">
                    <img src="/arquivos/danque-ico-product-email.png" alt="Email"/>
                </a>
            </li>
        </ul>
    </div><!-- /.social__component -->
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        data () {
            return {
                "shareUrl": null
            }
        },
        computed: {
            ...mapGetters({
                productname: 'GET_NAME',
            })
        },
        created() {
            console.log(this.productname)
        },
        methods: {
            shareProduct(tapy) {
                if (!tapy) return;

                if (tapy == "facebook") {
                    this.shareUrl = `http://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(window.location.href)}&title=${encodeURIComponent(this.productname)}`;
                }

                if (tapy == "messenger") {
                    this.shareUrl = `fb-messenger://share?link=${encodeURIComponent(window.location.href)}&app_id=473891166810274`;
                }

                if (tapy == "whatsapp") {
                    this.shareUrl = `https://api.whatsapp.com/send?text=${encodeURIComponent(this.productname)}-${encodeURIComponent(window.location.href)}`;
                }

                if (tapy == "email") {
                    this.shareUrl = `mailto:?subject=${encodeURIComponent(this.productname)}!&body=${encodeURIComponent(window.location.href)}`;
                }

                window.open(this.shareUrl, "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=5%, left=50%, width=800, height=600");
            }
        }
    }
</script>

<style lang="scss">
    .social__component {
        display: flex;
        align-items: center;

        p {
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
            color: #818181;
            letter-spacing: .15em;
            margin-right: 10px;
            position: relative;
            top: 2px;
        }

        ul {
            display: flex;

            li {
                margin: 0 13px;
            }
        }
    }
</style>