<template>
    <div class="instagram__component">
        <header class="header__title">
            <h4> @danqueoficial </h4>
        </header><!-- /.header__title -->
        
        <div class="photos owl-carousel" v-if="photos.length" v-carousel>
            <div class="photo" v-for="(photo, index) in photos" :key="index">
                <a :href="photo.link" target="_blank" :style="{ 'background-image': 'url(' + photo.image + ')' }"></a>
            </div><!-- /.photo -->
        </div><!-- /.photos -->
    </div><!-- /.instagram--component -->
</template>

<script>
    import vtex from '../services/api';
    import intagram from '../services/instagram';

    export default {
        directives: {
            carousel: {
                inserted:(element) => {
                    $(element).owlCarousel({
                        loop: true,
                        nav: false,
                        dots: true,
                        autoplay: true,
                        autoplayTimeout: 3000,
                        autoplayHoverPause: true,
                        responsive: {
                           0:{
                                items: 1,
                                dots: false,
                                nav: true,
                            },
                            1000:{
                                items: 4,
                            }
                        }
                    }).trigger('to.owl.carousel', 10);
                },
            }
        },
        data () {
            return {
                'documentId': '117a3001-f05e-11e9-82e3-128f761f5490',
                'access_token': '1461150345.1677ed0.0556a22b6c8645e9a7525fb4ffff4467',
                'photos': [],
            }
        },
        created() {
            this.fetchPhotosMasterData();
        },
        methods: {
            async fetchPhotosMasterData() {
                const response = await vtex.get('/api/dataentities/IN/search?_fields=id,hour,photos');
                const currentTime = await this.fetchCurrentTime();

                if (response.data[0].hour == false) {
                    const photo = await this.fetchInstagram();
                    this.updatePhotosMasterData(photo, currentTime);
                }

                this.photos = response.data[0].photos;
            },
            async fetchInstagram() {
                const { data } = await intagram.get(`/v1/users/1461150345/media/recent/?access_token=${this.access_token}`);
            
                const photos = data.data.map((item) => {
                    return { 
                        'image': item.images.standard_resolution.url, 
                        'link': item.link 
                    }
                });    

                return photos;   
            },
            async updatePhotosMasterData(photos, hour) {
                if(!photos || !hour) return;
                
                const response = await vtex.patch('/api/dataentities/IN/documents', {
                    "id": this.documentId,
                    "hour": hour,
                    "photos": photos
                });
            },
            async fetchCurrentTime() {
                const response = await vtex.get('/no-cache/HoraAtualServidor.aspx');
                return ((/\b\d{2}:\d{2}/g.exec(response.data)[0]))
            }
        }
    }
</script>

<style lang="scss">
    .instagram__component {
        margin: 50px 0;

        .header__title {
            h4 {
                color: #000;
                font-family: 'Saira', sans-serif;
                font-weight: 400;
                font-size: 24px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 25px;
            }
        }

        .photo {
            width: 310px;
            height: 310px;
            display: inline-block;
  
            a {
                width: 310px;
                height: 310px;
                display: block;
                background-size: cover;
            }
        }

        .owl-dots {
            text-align: center;
            background: rgba(38, 38, 38, 0.6);
            padding: 10px;
            border-radius: 25px;
            width: auto;
            min-width: 170px;
            max-width: 200px;
            margin: 15px auto 0;

            .owl-dot {
                width: 10px;
                height: 10px;
                background: 12px;
                border-radius: 50%;
                display: inline-block;
                margin: 0 7px;
                position: relative;
                background: #f7f7f7;

                &.active {
                    &::after {
                        content: "";
                        border: 1px solid #f7f7f7;
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        left: -6px;
                        top: -6px;
                    }
                }
            }
        }

        /* Mobile */
        @media (max-width:767px) {
            .photo {
                width: 100%;
                height: 350px;

                a {
                    width: 100%;
                    height: 350px;
                }
            }

            .owl-nav {
                padding: 0 5%;
                position: absolute;
                top: 40%;
                z-index: 9;
                width: 100%;
                display: flex;
                justify-content: space-between;

                button {
                    width: 45px;
                    height: 45px;
                    position: relative;
                    border-radius: 50%;
                    display: inline-block;
                    text-indent: -9999%;
                    background: rgba(38, 38, 38, 0.9) !important;

                    &.owl-prev {
                        &::after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            transform: rotate(-45deg);
                            width: 10px;
                            background: #fff !important;
                            right: 19px;
                            top: 19px;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            height: 2px;
                            transform: rotate(45deg);
                            width: 10px;
                            right: 19px;
                            top: 25px;
                            background: #fff !important;
                        }
                    }

                    &.owl-next {
                        &::after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            right: 16px;
                            top: 19px;
                            transform: rotate(45deg);
                            width: 10px;
                            background: #fff !important;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            height: 2px;
                            right: 16px;
                            top: 25px;
                            transform: rotate(-45deg);
                            width: 10px;
                            background: #fff !important;
                        }
                    }
                }
            }
        }
    }
</style>