<template>
    <div class="navigation__components">
        <a href="#" class="open__nav" v-if="isMobile" :class="{ 'active': showModal }" @click.stop.prevent="controllerModal()">
            <span></span>
            <span></span>
            <span></span>
        </a><!-- /.open__nav -->

        <nav class="navigation" :class="{ 'active': showModal }">
            <ul>
                <li>
                    <a href="/inverno?collection=140">
                        Novidades
                    </a>
                </li>
                
                <li v-for="item in categorys" :key="item.id" :class="rewrite(item.name)">
                    <a :href="handlLinkCategoryDad(item.url)" :class="{ 'active': (item.name == selected) }" @click="handlOpenSubMenu(item.name)">
                        {{ item.name }}
                    </a>

                    <div class="nav__content" v-if="item.children.length" :class="{ 'active': (item.name == selected) }">
                        <div class="shell">
                            <div class="cols">
                                <div class="col">
                                    <ul>
                                        <li v-for="children in item.children" :key="children.id">
                                            <a :href="children.url" :title="children.name">
                                                {{ children.name }}
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- /.col -->

                                <div class="col" v-if="!isMobile">
                                    <div class="nav__image">
                                        <a :href="item.url"><img :src="handlBannerCategory(item.name)" :alt="item.name"/></a>
                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.cols -->
                        </div><!-- /.shell -->
                    </div><!-- /.nav__content -->
                </li>
            </ul>
        </nav><!-- /.navigation -->
    </div><!-- /.navigation__components-->
</template>

<script>
    import vtex from '../services/api';

    export default {
        data () {
            return {
                "showModal": false,
                "categorys": null,
                "isMobile": (screen.width <= 767),
                "selected": null
            }
        },
        created() {
            this.fetchCategory();
        },
        methods: {
            controllerModal(){
                this.showModal = !this.showModal;
                this.$store.commit('SET_OVERLAY', this.showModal)
            },
            async fetchCategory() {
                const { data } = await vtex.get('/api/catalog_system/pub/category/tree/3/');
                this.categorys = data[0].children[0].children;
            },
            handlLinkCategoryDad(link) {
                return (this.isMobile ? "#" : link);
            },
            handlBannerCategory(category) {
                if (!category) return;
                return `/arquivos/menu-${this.rewrite(category)}.png`
            },
            rewrite(str) {
                return str.toLowerCase().trim()
                    .replace(/[áàãâä]/g, "a")
                    .replace(/[éèẽêë]/g, "e")
                    .replace(/[íìĩîï]/g, "i")
                    .replace(/[óòõôö]/g, "o")
                    .replace(/[úùũûü]/g, "u")
                    .replace(/ç/g, "c")
                    .replace(/(\s|_)+/, "-")
                    .replace(/(^-+|-+$)/, "-")
                    .replace(/[^a-z0-9]+/g, '-');
            },
            handlOpenSubMenu(categoryName) {
                if (!categoryName) return;
                this.selected = categoryName;
            }
        }
    }
</script>

<style lang="scss">
 .nav__image{
        width: 456px;
    height: 300px;
    overflow: hidden;
  }
    .navigation__components {
        .navigation {
            ul {
                text-align: center;

                li {
                    display: inline-block;
                    vertical-align: middle;

                    /* Desktop */
                    @media (min-width:768px) {
                        &:hover {
                            a {
                                background-color: #f5f5f5;
                                transition: all .5s;
                            }

                            .nav__content {
                                opacity: 1;
                                display: block;
                                transition: opacity .4s ease,visibility .4s ease;
                            }
                        }
                    }

                    a {
                        font-family: 'Roboto', sans-serif;
                        font-size: 13px;
                        font-weight: 400;
                        text-transform: uppercase;
                        height: 50px;
                        color: #4d4d4d;
                        display: table-cell;
                        vertical-align: middle;
                        padding: 0 18px;
                        position: relative;
                        transition: all .5s;

                        &:hover {
                            color: #666;
                            background-color: #f5f5f5;
                            transition: all .5s;
                        }
                    }

                    .nav__content {
                        width: 100%;
                        background-color: #fff;
                        border-top: 1px solid #e0e0e0;
                        position: absolute;
                        left: 0;
                        top: 145px;
                        z-index: 999;
                        padding: 15px 0;
                        box-shadow: 0 20px 39px -15px rgba(0,0,0,.5);
                        opacity: 0;
                        display: none;
                        transition: opacity .4s ease,visibility .4s ease;

                        .cols {
                            display: flex;
                            justify-content: space-between;
                            
                            .col {
                                &:first-child {
                                    width: 35%;

                                    ul {
                                        column-count: 2;

                                        li {   
                                            display: block;
                                            margin-bottom: 20px;
                                            
                                            a {
                                                height: auto;
                                                background: #fff;

                                                &:hover {
                                                    text-transform: uppercase;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nav__access-navegation {
        display: none;
    }

    /* Mobile */
    @media (max-width:767px) {
        .nav__menu {
            display: none;
        }

        .nav__access-navegation {
            display: block;
        }

        .navigation__components {
            .open__nav {
                position: fixed;
                z-index: 9;
                top: 52px;

                span {
                   display: block;
                    width: 20px;
                    height: 2px;
                    margin-bottom: 5px;
                    position: relative;
                    background: #000;
                    border-radius: 3px;
                    z-index: 1;
                    transform-origin: 4px 0px;
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;

                    &:nth-child(2) {
                        margin: 5px 0;
                    }
                }

                &.active {
                    span {
                        &:nth-child(1) {
                           transform: rotate(45deg) translate(-1px, 1px);
                        }

                        &:nth-child(2) {
                            transform: rotate(-45deg) translate(-3px, -1px);
                        }

                        &:nth-child(3) {
                            opacity: 0;
                            transform: rotate(0deg) scale(0.2, 0.2);
                        }
                    }
                }
            }

            .navigation {
                position: fixed;
                left: 0;
                top: 95px;
                background: #f7f7f7;
                width: 320px;
                height: 100vh;
                z-index: 9;
                overflow-y: scroll;
                transform: translateX(-360px);
                transition: transform .4s;

                &.active {
                    transform: translateX(0px);
                }

                ul {
                    li {
                        display: block;

                        a {
                            height: auto;
                            display: block;
                            padding: 15px 20px;
                            text-align: left;
                            border-bottom: 1px solid #ccc;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                height: 2px;
                                transform: rotate(0deg);
                                width: 12px;
                                right: 15px;
                                top: 26px;
                                background: #000;
                            }
                
                            &::before {
                                content: '';
                                position: absolute;
                                height: 2px;
                                transform: rotate(-90deg);
                                width: 12px;
                                right: 15px;
                                top: 26px;
                                background: #000;
                                transition: transform .4s;
                            }

                            &.active {
                                &:before {
                                    transform: rotate(0deg);
                                    transition: transform .4s;
                                }
                            }
                        }

                        .nav__content {
                            position: relative;
                            top: 0;
                            box-shadow: none;
                            background: #f7f7f7;
                            border: none;
                            padding: 0;
                            height: 0;

                            &.active {
                                opacity: 1;
                                visibility: visible;
                                height: 100%;
                                display: block;
                            }

                            .shell {
                                padding: 0;

                                .cols {
                                    .col {
                                        width: 100% !important;
                                        border-bottom: 1px solid #ccc;

                                        ul {
                                            column-count: 1;

                                            li {
                                                margin-bottom: 0 !important;

                                                a {
                                                    background: #f7f7f7 !important;
                                                    border: none;

                                                    &::after {
                                                        opacity: 0;
                                                        visibility: hidden;
                                                    }

                                                    &::before {
                                                        opacity: 0;
                                                        visibility: hidden;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</style>