<template>
    <div class="overlay" :class="{'active': showModal }"></div><!-- /.overlay -->
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                showModal: 'GET_OVERLAY',
            })
        }
    }
</script>

<style lang="scss">
    .overlay {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
        background-color: rgba(0,0,0,.5);
        opacity: 0;
        visibility: hidden;
        transition: all .2s;

        &.active {
            opacity: 1;
            transition: opacity .3s ease,visibility .3s ease;
            visibility: visible;
        }
    }
</style>