<template>
    <div class="shelfitem__component">
        <div class="product__image">
            <a :href="link">
                <img :src="image" :alt="name"/>
            </a>
        
            <div class="product__action">
                <a :href="link" class="btn btn__black btn__login" v-if="loggedIn">
                    comprar
                </a>

                <a href="#" class="btn btn__black btn__login" v-else @click.stop.prevent="openModalLogin()">
                    ver o preço
                </a>
            </div><!-- /.product__action -->
        </div><!-- /.product__image -->

        <div class="product__content">
            <h3> 
                <a :href="link" class="btn__link">
                    {{ name }}
                </a>
            </h3>

            <div class="product__price" v-if="loggedIn">
                <h4> {{ bestPrice }} </h4>
            </div><!-- /.product__price -->

            <div class="products__skus"> 
                <ul>
                    <li v-for="item in similar" :key="item.skuId"> 
                        <a href="#" @click.stop.prevent="setSkuCurrent(item)">
                            <i class="color" :style="{'background-color': item.hexadecimal }"></i>
                        </a>
                    </li>
                </ul>
            </div><!-- /.pproducts__skus -->
        </div><!-- /.product__content -->
    </div><!-- /.shelfItem--component-->
</template>

<script>
    import vtex from '../services/api';
    import { mapGetters } from 'vuex';

    export default {
        props: ['product', 'location'],
        data () {
            return {
                'name': null,
                'image': null,
                'link': null,
                'bestPrice': null,
                'similar': []
            }
        },
        computed: {
            ...mapGetters({
                loggedIn: 'GET_USER_IS_LOGGED',
            })
        },
        created() {
            this.setSkuCurrent({
                'name': this.product.productName,
                'link': this.product.link,
                'image': this.buildImage(this.product.items[0].images[0].imageTag, "463", "556")
            });

            this.fetchProductsSimilar(this.product.productId);
        },
        methods: {
            async fetchProductsSimilar(productId) {
                if (!productId) return;

                const { data } = await vtex.get(`/api/catalog_system/pub/products/crossselling/similars/${productId}`);

                this.handleCrateProducts(data);
            },
            handleCrateProducts(products) {
                if (!products) return;

                for (let index = 0; index < products.length; index++) {
                    if (!this.inArray(products[index].Cor)) {
                        this.similar.push({
                            'skuId': products[index].items[0].itemId,
                            'name': products[index].productName,
                            'color': this.isEmpty(products[index].Cor),
                            'hexadecimal': this.isEmpty(products[index].Hexadecimal),
                            'bestPrice': products[index].items[0].sellers[0].commertialOffer.Price,
                            'image': this.buildImage(products[index].items[0].images[0].imageTag, "463", "556")
                        })
                    }
                }
            },
            setSkuCurrent(product) {
                if (!product) return;

                //console.log(product)

                this.name = product.name;
                this.image = product.image;
                this.link = product.link;

                /*
                this.hexadecimal = product.hexadecimal;
                this.bestPrice = this.formatMoney(product.items[0].sellers[0].commertialOffer.Price, 2, ",", ".", "R$")*/
            },
            inArray(color) {
                if (!color) return;

                return this.similar.filter((item) => {
                    return (item.color == color);
                }).length
            },
            formatMoney(number, decimals, dec_point, thousands_sep, symbol) {
                if (!number || !decimals || !dec_point || !thousands_sep || !symbol) return;

                number = (number + '').replace(',', '').replace(' ', '');
                
                let n = !isFinite(+number) ? 0 : +number,
                    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                    s = '',
                    toFixedFix = function (n, prec) {
                        let k = Math.pow(10, prec);
                        return '' + Math.round(n * k) / k;
                    };

                s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
                if (s[0].length > 3) {
                    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
                }

                if ((s[1] || '').length < prec) {
                    s[1] = s[1] || '';
                    s[1] += new Array(prec - s[1].length + 1).join('0');
                }

                return symbol + " " + s.join(dec);
            },
            buildImage(image, width, height) {
                if (!image || !width || !height) return;

                image =  image.toLowerCase().trim()
                    .replace(/~/g, "")
                    .replace(/#width#/g, width)
                    .replace(/#height#/g, height);

                return (/<img.*?src="(.*?)"/).exec(image)[1];
            },
            isEmpty (value) {
                if (!value) return;
                return (value.length ? value[0] : false);
            },
            openModalLogin() {
                this.$store.commit('SET_SHOW_MODAL_LOGIN', true);
            }
        }
    }
</script>

<style lang="scss">
    .shelfitem__component {
        .product__image {
            position: relative;

            &:hover {
                .product__action {
                    opacity: 1;
                    visibility: visible;
                    transition: all .4s;
                }
            }

            .product__action {
                width: 100%;
                padding: 0 20px;
                position: absolute;
                bottom: 35px;
                opacity: 0;
                visibility: hidden;
                transition: all .4s;

                .btn__login {
                    width: 100%;
                    background: #000;
                    color: #fff;
                    font-family: 'Saira', sans-serif;

                    &:hover {
                        background: #000;
                    }
                }
            }
        }

        .product__content {
            margin: 10px 0;

            h3 {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: #636363;
                text-align: center;
                font-weight: 500;
                margin-bottom: 15px;
                padding: 0 10px;
                line-height: 1.5;

                /* Mobile */
                @media (max-width:767px) {
                    font-size: 12px;
                }
            }

            .product__price {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                margin-top: -15px;
               

                h5 {
                    margin-right: 15px;
                    font-size: 13px;
                    font-weight: 600;
                    text-decoration: line-through;
                    color: #636363;
                }

                h4 {
                    font-size: 15px;
                    font-weight: bold;
                }
            }

            .products__skus {
                ul {
                    display: flex;
                    justify-content: center;

                    li {
                        position: relative;
                        margin: 0 3px; 

                        .color {
                            width: 20px;
                            height: 20px;
                            display: block;
                            border-radius: 50%;
                            border: 1px solid #22222229;
                        }

                        &.active {
                            &::before {
                                content: '';
                                width: 28px;
                                height: 28px;
                                border: 2px solid #000;
                                border-radius: 50%;
                                position: absolute;
                                left: -4px;
                                top: -4px;
                            }
                        }
                    }
                }
            }
        }

        /* Mobile */
        @media (max-width:767px) {
            margin: 0 5px;
        }
    }
</style>