/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Saira:400,500,700&display=swap');

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
body {
	min-width: 320px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.88;
	color: #000;
    overflow-x: hidden;

    a {
        color: inherit;
        text-decoration: none;
    }

    i {
        font-style: normal;
    }

    .hidden {
        display: none !important;
    }

    .helperComplement {
        display: none !important;
    }

    #ajaxBusy {
        display: none !important;
    }
}

/* Mobile */
@media (max-width:767px) {
	body {
		.main {
            margin-top: 95px;
        }
	}
}

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */
.shell {
	max-width: 1300px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}

/* Tablet Portrait */
@media (max-width:1023px) {
	.shell {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Mobile */
@media (max-width:767px) {
	.shell {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper {
	min-height: 100vh;
}

/* Tablet Portrait */
@media (max-width:1023px) {
	.wrapper {
		overflow: hidden;
	}
}

/* ------------------------------------------------------------ *\
	Modal default
\* ------------------------------------------------------------ */
.modal-mask {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}
  
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
  
.modal-container {
    width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.modal-leave-active .modal-container {
    transform: scale(1.1);
}

.modal-enter .modal-container {
    transform: scale(1.1);
}

/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */
.btn {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: 500;
    border-radius: 3px;
    width: 100%;
    padding: 15px 0;
    letter-spacing: 0.20em;
    transition: all .2s;

    &.btn__black {
        border: 1px solid #262626 !important;
        background: #262626;
        color: #fff;
        
        &:hover {
            color: #262626;
            background: transparent;
        }
    }

    &.btn__white {
        border: 1px solid #262626 !important;
        background: #fff;
        color: #262626;

        &:hover {
            border: 1px solid #262626;
            color: #fff;
            background: #262626;
        }
    }

    &:hover {
        transition: all .2s;
    }
}

/* Mobile */
@media (max-width:767px) {
    .btn {
        font-size: 12px;
    }
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header {
    border-bottom: 1px solid #e0e0e0;
    
    .header__bar {
        background: #262626;
        padding: 3px;

        .bar {
            ul {
                display: flex;
                justify-content: center;

                li {
                    a {
                        font-size: 10px;
                        letter-spacing: .2em;
                        font-family: 'Roboto', sans-serif;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 400;
                        cursor: default;

                        &::after {
                            content: '|';
                            margin: 0 20px;
                        }
                    }

                    &:last-child {
                        a::after {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    .header__content-entry {
        .cols {
            display: flex;
            justify-content: space-between;
            margin: 25px 0 0;

            .logo {
                margin-left: -150px;
            }

            .nav__teritary {
                display: flex;
            }
        }
    }
}

/* Mobile */
@media (max-width:767px) {
    .header {
        .header__bar {
            padding: 0;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 9;

            .bar {
                ul{
                    li {
                        &:nth-child(1) {
                            display: none;
                        }
                        width: 100%;
                        text-align: center;
                        a {
                            font-weight: 400;
                            font-size: 8px;
                            &:after {
                               margin: 0 5px !important;
                            }
                        }
    
                        &:nth-child(2) {
                            a {
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }

            }
        }

        .header__content-entry {
            float: right;
            width: 100%;
            z-index: 9;
            position: fixed;
            background: #fff;
            top: 30px;

            .cols {
                margin: 15px 0 20px;

                .logo {
                    margin-left: 30px;

                    img {
                        width: 110px;
                    }
                }
            }
        }
    }
}

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */
.footer {
    .footer__inner {
        background: #f7f7f7;
        padding: 30px 0;

        .cols {
            display: flex;

            .col {
                width: 33%;

                .footer__nav {
                    h5 {
                        font-family: 'Saira', sans-serif;
                        font-size: 14px;
                        color: #000;
                        font-weight: 500;
                    }

                    a {
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        color: #7f7f7f;
                    }
                }
            }
        }
    }

    .footer__logos {
        border-top: 1px solid #e0e0e0;

        .list-logos {
            display: flex;
            justify-content: space-between;
            
            .payment__logos {
                display: flex;
                align-items: center;
                padding: 40px 0;
    
                p {
                    color: #808080;
                    font-size: 12px;
                    font-weight: 500;
                    font-family: 'Roboto',sans-serif;
                    margin-right: 20px;
                }
    
                ul {
                    display: flex;
                    
                    li {
                        margin-right: 15px;
                    }
                }
            }
    
            .security__logos {
                display: flex;
                align-items: center;
    
                p {
                    color: #808080;
                    font-size: 12px;
                    font-weight: 500;
                    font-family: 'Roboto',sans-serif;
                    margin-right: 20px;
                }
            }
        }
    }

    .footer__bar {
        border-top: 1px solid #e0e0e0;
        padding: 30px 0;

        .footer__bar-entry {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .copyright {
                font-size: 12px;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 0;
                font-weight: 500;
                color: #808080;
            }
        
            .creators {
                display: flex;
                -ms-flex-pack: justify;
                justify-content: space-between;
                flex: 0 0 22%;
                max-width: 22%;

                span {
                    display: inline-block;
                    font-size: 12px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    color: #808080;
                }
            }
        }
    }
}

/* Mobile */
@media (max-width:767px) {
    .footer {
        .footer__inner {
            border-top: 1px solid #e0e0e0;
            padding: 0;

            .cols {
                display: flex;
                flex-wrap: wrap;

                .col {
                    width: 100%;

                    .footer__nav {
                        h5 {
                            position: relative;
                            font-weight: 500;
                            font-size: 17px;
                            padding: 15px 0;
                            border-bottom: 1px solid #e0e0e0;

                            &::after {
                                content: '';
                                position: absolute;
                                height: 2px;
                                transform: rotate(0deg);
                                width: 12px;
                                right: 15px;
                                top: 32px;
                                background: #000;
                                transition: transform .4s;
                            }
                
                            &::before {
                                content: '';
                                position: absolute;
                                height: 2px;
                                transform: rotate(-90deg);
                                width: 12px;
                                right: 15px;
                                top: 32px;
                                background: #000;
                                transition: transform .4s;
                            }
                            &.active{

                                &::before {
                                    content: '';
                                    transition: transform .4s;
                                    transform: rotate(0deg);
                                }
                            }
                        }

                        .accordion__body {
                            display: none;
                            margin: 20px 0 10px;

                            a {
                                font-size: 14px;
                                padding: 8px 0;
                                display: block;
                            }

                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .footer__logos {
            padding: 40px 0;

            .list-logos {
                display: block;

                .payment__logos {
                    display: block;
                    padding: 0 0 40px;
                    
                    p {
                        margin: 0;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 400;
                    }

                    ul {
                        justify-content: center;
                    }
                }

                .security__logos {
                    display: block;
                    text-align: center;

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        margin: 0;
                    }
                }
            }
        }

        .footer__bar {
            padding: 25px 0;

            .footer__bar-entry {
                display: block;

                .copyright {
                    font-size: 10px;
                    margin-bottom: 25px;
                }

                .creators {
                    flex: 0 0 100%;
                    max-width: 100%;

                    span {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

/* ------------------------------------------------------------ *\
	Shelf
\* ------------------------------------------------------------ */
.section__products {
    .slider__clip {
        margin: 40px 0;

        h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: 24px;
            font-family: 'Saira', sans-serif;
            color: #000;
            font-weight: 400;
            margin-bottom: 20px;
            letter-spacing: 0.10em;
        }

        ul {
            display: flex;
            justify-content: space-between;

            .owl-nav {      
                button {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    top: 32%;
                    border-radius: 50%;
                    display: inline-block;
                    text-indent: -9999%;
                    background: rgba(255, 255, 255, 0.6) !important;
                    transition: all .4s;
        
                    &.owl-prev {
                        left: -35px;

                        &::after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            transform: rotate(-45deg);
                            width: 16px;
                            right: 25px;
                            top: 41px;
                            background: #000 !important;
                        }
            
                        &::before {
                            content: '';
                            position: absolute;
                            height: 2px;
                            transform: rotate(45deg);
                            width: 16px;
                            right: 25px;
                            top: 52px;
                            background: #000 !important;
                        }
                    }
        
                    &.owl-next {
                        right: -30px;

                        &::after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            transform: rotate(45deg);
                            width: 16px;
                            right: 60px;
                            top: 41px;
                            background: #000 !important;
                        }
            
                        &::before {
                            content: '';
                            position: absolute;
                            height: 2px;
                            transform: rotate(-45deg);
                            width: 16px;
                            right: 60px;
                            top: 52px;
                            background: #000 !important;
                        }
                    }
                }
            }
        }
    }
}

/* ------------------------------------------------------------ *\
	Breadcrumb
\* ------------------------------------------------------------ */
.section__breadcrumb {
    ul {
        padding: 15px 0;
        display: flex;

        li {
            margin-right: 30px;
            position: relative;
            font-size: 10px;
            font-weight: 500;
            color: #808080;
            text-transform: uppercase;

            &::after {
                content: '';
                width: 5px;
                height: 5px;
                background: #BBC5D1;
                position: absolute;
                border-radius: 50%;
                top: 6px;
                right: -16px;
            }

            &.last {
                &::after {
                    opacity: 0;
                }
            }
        }
    }

    /* Mobile */
    @media (max-width:767px) {
        border-top: 1px solid #e0e0e0;
    }
}
.body-cart{
    .container {
        @media (max-width: 767px){
            width: 100%;
        }
    }
}
