/* ------------------------------------------------------------ *\
	Slide
\* ------------------------------------------------------------ */
.section__slide {
    .owl-nav {
        padding: 0 7%;
        position: absolute;
        top: 45%;
        z-index: 9;
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
            width: 45px;
            height: 45px;
            position: relative;
            border-radius: 50%;
            display: inline-block;
            text-indent: -9999%;
            background: rgba(38, 38, 38, 0.60) !important;
            transition: all .4s;

            &:hover {
                transition: all .4s;
                background:#000 !important;
            }

            &.owl-prev {
                &::after {
                    right: 19px;
                    top: 19px;
                }

                &::before {
                    right: 19px;
                    top: 25px;
                }
            }

            &.owl-next {
                &::after {
                    right: 16px;
                    top: 19px;
                    transform: rotate(45deg);
                }

                &::before {
                    right: 16px;
                    top: 25px;
                    transform: rotate(-45deg);
                }
            }

            &::after {
                content: '';
                position: absolute;
                height: 2px;
                transform: rotate(-45deg);
                width: 10px;
                background: #fff !important;
            }

            &::before {
                content: '';
                position: absolute;
                height: 2px;
                transform: rotate(45deg);
                width: 10px;
                background: #fff !important;
            }
        }
    }

    .owl-dots {
        text-align: center;
        position: absolute;
        bottom: 20px;
        background: rgba(38, 38, 38, 0.60);
        padding: 10px;
        border-radius: 25px;
        width: auto;
        min-width: 170px;
        left: 50%;
        transform: translateX(-50%);

        .owl-dot {
            width: 10px;
            height: 10px;
            background: 12px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 7px;
            position: relative;
            background: #f7f7f7;

            &.active {
                &::after {
                    content: "";
                    border: 1px solid #f7f7f7;
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    left: -6px;
                    top: -6px;
                }
            }
        }
    }
}

/* ------------------------------------------------------------ *\
	Banners
\* ------------------------------------------------------------ */
.section__banners {
    margin: 50px 0;

    .cols {
        display: flex;
        justify-content: space-between;
    }
}

/* Mobile */
@media (max-width:767px) {
	.section__banners {
        margin: 30px 0;

		.cols {
            display: block;

            .box-banner {
                margin-bottom: 20px;
            }
        }
	}
}