.institucional {
    .content__body {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        margin-bottom: 80px;

        .aside__nav {
            width: 250px;

            li {
                a {
                    color: #262626;
                    font-size: 14px;
                    font-weight: 500;
                    display: block;
                    padding: 12px 15px;
                    transition: all .3s;

                    &:hover {
                        transition: all .3s;
                        background: #f7f7f7;
                    } 
                }
            }
        }

        .content__inner {
            width: 75%;

            .header__title {
                margin-bottom: 10px;

                h2 {
                    text-transform: uppercase;
                    font-size: 24px;
                    font-family: Saira,sans-serif;
                    color: #262626;
                    font-weight: 400;
                }
            }

            .content {
                h3 {
                    color: #666666;
                    font-weight: 600;
                    font-size: 14px;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 14px;
                    color: #666666;
                    margin-bottom: 20px;
                }
            }
        }
    }
}