.widget__product {
    display: flex;
    justify-content: space-between;

    .widget__inner {
        width: 50%;

        .product__datasheet {
            width: 100%;
            max-width: 505px;
            float: right;

            .widget {
                background: #f7f7f7;
                margin-bottom: 13px;

                .tabs {
                    .tabs__header {
                        padding: 15px;
                        position: relative;
                        cursor: pointer;
                    
                        h4 {
                            text-transform: uppercase;
                            font-size: 13px;
                            color: #262626;
                            letter-spacing: .2em;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            height: 2px;
                            right: 15px;
                            top: 50%;
                            transform: rotate(0deg);
                            width: 14px;
                            background: #000;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            height: 2px;
                            transform: rotate(-90deg);
                            width: 14px;
                            background: #000;
                        }
                    }

                    .tabs__body {
                        display: none;

                        p {
                            font-size: 13px;
                            color: #818181;
                        }

                        &.active {
                            display: block;
                        }
                    }

                    &.active {
                        .tabs__body {
                            padding: 0 15px 25px;
                            display: block;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    .widget__aside {
        width: 42%;

        .widget {
            width: 100%;
        }
    }
}

/* Mobile */
@media (max-width:767px) {
    .widget__product { 
        display: block;

        .widget__inner {
            width: 100%;
        }

        .widget__aside {
            width: 100%;
        }
    
    }
}