*, :before, :after {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {
    display: block;
}
body {
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none
}
img, iframe, video, audio, object {
    max-width: 100%
}
img, iframe {
    border: 0 none;
}
img {
    height: auto;
    display: inline-block;
    vertical-align: middle
}
b, strong {
    font-weight: 700;
}
address {
    font-style: normal
}
svg:not(:root) {
    overflow: hidden
}
a, button, input[type="submit"], input[type="button"], input[type="reset"], input[type="file"], input[type="image"], label[for] {
    cursor: pointer;
    text-decoration: none;
}
a[href^="tel"], button[disabled], input[disabled], textarea[disabled], select[disabled] {
    cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type*="submit"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, a[href^="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
textarea {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
button, select {
    text-transform: none;
}
nav ul, nav ol, ul, li{
    list-style: none;
}